* {
    font-family: 'Euclid Circular A', sans-serif;
    background-color: #46042a;
    color: white;
    box-sizing: border-box;
}

/* Main grid */

#main-container {
    display: grid;
    margin: 10% 20% 10% 15%;
    align-items: center;
    grid-gap: 2%;
    grid-template-columns: 3;
    grid-template-rows: 2;
    grid-template-areas:
    "cocktail-image cocktail-method related"
    "cocktail-image cocktail-gif favourites";
}

.cocktail-image {
    grid-area: cocktail-image;
    border: var(--activate-borders);
    text-align: center;
    height: auto;
}

.cocktail-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.cocktail-method {
    grid-area: cocktail-method;
    border: var(--activate-borders);
    text-align: center;
}

.cocktail-gif {
    grid-area: cocktail-gif;
    border: var(--activate-borders);
    text-align: center;
}

.cocktail-gif img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* ---- Aside Elements -----*/

.related {
    grid-area: related;
    border: var(--activate-borders);
    text-align: right;
    color: #8b6512;
}

.favourites {
    grid-area: favourites;
    border: var(--activate-borders);
    text-align: right;
    color: #8b6512;
}

ul {
     list-style-type: none;
}

ul li {
    color: #8b6512;
    padding: 10px;
}

/* ---- Footer -----*/

footer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46042a;
    color: grey;
    height: 20vh;
    border-top: 6px solid #8b6512;  
}

footer p {
    padding-left: 10%;
    padding-right: 10%;
}


/* ---- Button Styling -----*/

.custom-btn {
    color: var(--white);
    background-color: var(--gold);
    border-radius: 0px 3px 3px 0px;
    border: 1px solid var(--gold);
}

.custom-btn:hover {
    background-color: #a7801d;
    color: var(--white);
}