* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Euclid Circular A', sans-serif;
}

.custom-jumbotron {
    background-image: linear-gradient(0deg, #4e032fcc, #4e032fcc), url(../images/200804-2121x1414-cocktails.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 90vh;
    margin-bottom: 0px;
}

.custom-footer {
    background-color: #46042a;
    color: white;
    text-align: center;
    height: 10vh;
    border-top: 5px solid white;
}